.some-text{
    font-family: "Open Sans" ;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200px;
    font-style: italic;
}
.some-text-2{
    text-decoration: line-through;
}
.some-text-3{
    text-align: center;
}
.some-text-4{
    word-spacing: 30px;
    text-decoration: #000000 wavy;
    text-shadow: 15px 2px 7px #e43bdb;
}
.some-text-5{
    word-spacing: 5px;
    text-decoration:double underline;
}